In [13]:
import os
import requests
import json
import pandas as pd
import hvplot.pandas
import panel as pn
import numpy as np
import sqlalchemy
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [14]:
load_dotenv()

True

In [15]:
# Retrieve API keys for Alpaca
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

display(alpaca_api_key)
display(alpaca_secret_key)

'PKASSM0OBO0C8IAEALKM'

'VuowGmr5I9mcIEeWsUFUfIK2uxhFCMAlHRrOGfnJ'

In [16]:
# Create REST object for Alpaca calls
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [38]:
#tickers = ["AAVEUSD", "ETHUSD"]#, "AMZN", "NFLX", "GOOG", "SPY"]
#crypto_ticker = ["BTCUSD", "AAVEUSD", "ETHUSD", "LINKUSD", "BATUSD", "GRTUSD", "MATICUSD"]
crypto_ticker = ["MATICUSD"]
crypto_timeframe = "1Day"
crypto_start_date = pd.Timestamp("2017-05-11", tz="America/New_York").isoformat()
crypto_end_date = pd.Timestamp("2022-05-11", tz="America/New_York").isoformat()

In [39]:
crypto_closing_prices = alpaca.get_crypto_bars(
    crypto_ticker,
    crypto_timeframe,
    start=crypto_start_date,
    end=crypto_end_date
).df

#btc_closing_prices = btc_closing_prices[~btc_closing_prices.index.duplicated(keep='first')]
#btc_closing_prices = btc_closing_prices[~btc_closing_prices.index.duplicated(keep='first')]

crypto_closing_prices.index = crypto_closing_prices.index.date
#crypto_closing_prices.index = crypto_closing_prices.index.drop_duplicates(keep='first')
display(crypto_closing_prices.head(10))

,exchange,open,high,low,close,volume,trade_count,vwap,symbol
2021-06-15,FTXU,1.642064,1.686138,1.568670,1.615204,202790,609,1.678226,MATICUSD
2021-06-16,FTXU,1.622589,1.638330,1.448079,1.503595,379910,103,1.500433,MATICUSD
2021-06-17,FTXU,1.519330,1.544267,1.460011,1.485790,694340,107,1.486745,MATICUSD
2021-06-18,FTXU,1.465977,1.473130,1.315663,1.366772,679580,253,1.362258,MATICUSD
2021-06-19,FTXU,1.393808,1.417407,1.348072,1.384655,386070,114,1.397138,MATICUSD
2021-06-20,FTXU,1.388107,1.419879,1.282771,1.330983,352960,93,1.338108,MATICUSD
2021-06-21,FTXU,1.355569,1.370525,1.044089,1.202143,381210,146,1.230764,MATICUSD
2021-06-22,FTXU,1.188239,1.220629,0.944204,1.168523,521570,302,1.114111,MATICUSD
2021-06-23,FTXU,1.205000,1.243268,1.111822,1.170436,61090,84,1.176547,MATICUSD
2021-06-24,FTXU,1.161545,1.238244,1.161545,1.218728,1092180,606,1.209903,MATICUSD

In [50]:
stock_ticker = ["SNDL", "CLNE", "RLGY", "CDE", "PFE", "ENB"]
stock_timeframe = "1Day"
stock_start_date = pd.Timestamp("2017-05-11", tz="America/New_York").isoformat()
stock_end_date = pd.Timestamp("2022-05-11", tz="America/New_York").isoformat()

In [51]:
initial_closing_prices = alpaca.get_bars(
    stock_ticker,
    stock_timeframe,
    start=stock_start_date,
    end=stock_end_date
).df

initial_closing_prices.index = initial_closing_prices.index.date
initial_closing_prices

,open,high,low,close,volume,trade_count,vwap,symbol
2017-05-11,8.8700,9.230000,8.8300,9.1300,3629790,15253,9.121654,CDE
2017-05-12,9.2700,9.500000,9.2300,9.3600,3248947,16596,9.367018,CDE
2017-05-15,9.5800,9.619700,9.2000,9.4300,2869227,13558,9.411833,CDE
2017-05-16,9.5200,9.740000,9.5000,9.6900,3138936,17942,9.645774,CDE
2017-05-17,9.9200,9.960000,9.5200,9.5400,4570058,21620,9.701260,CDE
...,...,...,...,...,...,...,...,...
2022-05-05,0.4900,0.494269,0.4600,0.4648,67388817,46394,0.470780,SNDL
2022-05-06,0.4620,0.465000,0.4444,0.4545,64887157,44444,0.453737,SNDL
2022-05-09,0.4420,0.447900,0.4050,0.4103,85332183,72867,0.420884,SNDL
2022-05-10,0.4265,0.426500,0.3750,0.4000,106595625,73261,0.399077,SNDL
2022-05-11,0.3885,0.398400,0.3701,0.3714,80215542,68335,0.380914,SNDL

In [52]:
df = initial_closing_prices.loc[initial_closing_prices["symbol"] == 'ENB']
df

,open,high,low,close,volume,trade_count,vwap,symbol
2017-05-11,40.18,40.7400,39.740,40.03,3632448,23650,40.078687,ENB
2017-05-12,40.04,40.3700,39.950,40.06,1973385,15281,40.115893,ENB
2017-05-15,40.57,40.7300,39.950,40.00,2831125,20778,40.160908,ENB
2017-05-16,40.19,40.3500,39.620,39.64,3176853,19800,39.885901,ENB
2017-05-17,39.29,39.5000,38.600,38.69,4228244,29841,38.821981,ENB
...,...,...,...,...,...,...,...,...
2022-05-05,45.24,45.5700,44.140,44.58,5042466,39807,44.623720,ENB
2022-05-06,45.61,45.6900,44.310,45.43,5619292,41341,45.130458,ENB
2022-05-09,45.05,45.0500,43.245,43.38,6671012,51381,43.748541,ENB
2022-05-10,43.70,44.1600,42.435,42.94,5729747,44548,43.117844,ENB
2022-05-11,43.43,44.2014,43.050,43.13,7966605,38835,43.452061,ENB